<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="form-group">
        <label>동적테이블 행추가하기</label>
        <button type=button class='btn btn-default' id='btn_add' style='float:right; margin-bottom:5px;' 
        onclick='javascript:addItem(); labelIps();'>추가버튼</button>
    </div>

    <table id='table_ipaddr'> 	
        <tbody>
        <c:forEach var="setIP" items="${IPaddress}"  varStatus="status">
        <tr>
            <td>
                <div class="label_group">
                <label for="manager_ipaddr_label">행 ${status.count}</label>
                </div>
            </td>
            <td>	
                <div class="form_group" style="margin:5px;">
                    <input name="manager_ipaddr" class="form-control" value="${setIP}" class='ipaddr'
                    style='width:300px; float:left; margin-right:5px'>
                    <button type="button" name="btn_delete" class="btn btn-default btn-sm" style="height:30px" 
                        onclick='javascript:deleteItem(this); labelIps();'>
                    <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
            </td>
        </tr>
        <c:forEach var="setIP" items="${IPaddress}"  varStatus="status">
    </tbody>
    </table>

    <div id='additem_templete' style='display:none'> 
        <ttr>
            <ttd>
                <div class="label_group">
                <label for="ipaddr_label">행${status.count}</label>
                </div>
            </ttd>
            <ttd>	
                <div class="form_group" style="margin:5px;">
                    <input name="manager_ipaddr" class="form-control" value="${setIP}" class='ipaddr' style='width:300px; float:left; margin-right:5px'>
                    <button type="button" name="btn_delete" class="btn btn-default btn-sm" style="height:30px" 
                            onclick='javascript:deleteItem(this); labelIps();'>
                    <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
            </ttd>
        </ttr>
    </div>
</body>
</html>