<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="managerLogin">
		SELECT
			   MANAGER_NO,
			   MANAGER_ID,
			   MANAGER_PWD,
			   MANAGER_NAME,
			   MANAGER_PHONE,
			   MANAGER_EMAIL,
			   STATUS
		  FROM TB_MANAGER
		 WHERE MANAGER_ID = ?
		   AND MANAGER_PWD = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="needReceivingProduct">
		SELECT
		       ROWNUM
		     , PRODUCT_NO
		     , PRODUCT_NAME || ' ' || CAPACITY || '(mL/g)' PRODUCT_NAME
		     , STOCK
		  FROM TB_PRODUCT
		 WHERE STATUS = 'Y'
  <![CDATA[AND STOCK < 10]]>
		 ORDER
		    BY STOCK
	</entry>
	
	<entry key="recentPayment">
		SELECT ROWNUM, A.*
		  FROM (SELECT
		               ORDER_NO
		             , PAYMENT_DATE
		             , MEMBER_ID
		             , O.STATUS
		          FROM TB_ORDER O
		          JOIN TB_PAYMENT USING(ORDER_NO)
		          JOIN TB_MEMBER USING(MEMBER_NO)
		         ORDER
		            BY PAYMENT_DATE DESC) A
<![CDATA[WHERE ROWNUM <= 5]]>
	</entry>
</properties>