<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="managerLogin">
		SELECT
			   MANAGER_NO,
			   MANAGER_ID,
			   MANAGER_PWD,
			   MANAGER_NAME,
			   MANAGER_PHONE,
			   MANAGER_EMAIL,
			   STATUS
		  FROM TB_MANAGER
		 WHERE MANAGER_ID = ?
		   AND MANAGER_PWD = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="findIdWithPhone">
		SELECT MANAGER_ID
		  FROM TB_MANAGER
		 WHERE STATUS = 'Y'
		   AND MANAGER_PHONE = ?
	</entry>
	
	<entry key="findIdWithEail">
		SELECT MANAGER_ID
		  FROM TB_MANAGER
		 WHERE STATUS = 'Y'
		   AND MANAGER_EMAIL = ?
	</entry>
	
	<entry key="updatePwdWithPhone">
		UPDATE TB_MANAGER
		   SET MANAGER_PWD = ?
		 WHERE STATUS = 'Y'
		   AND MANAGER_PHONE = ?
	</entry>
	
	<entry key="updatePwdWithEmail">
		UPDATE TB_MANAGER
		   SET MANAGER_PWD = ?
		 WHERE STATUS = 'Y'
		   AND MANAGER_EMAIL = ?
	</entry>
</properties>