<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_PRODUCT
		 WHERE STATUS = 'Y'
            AND FCATEGORY_NAME = ? OR SCATEGORY_NAME =?
	</entry>

	<entry key ="selectProductList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                	   PRODUCT_NO
		                	 , BRAND   
		                     , PRODUCT_NAME
		                     , PRICE
		                     , PRODUCT_IMG
		                  FROM TB_PRODUCT B
		                 WHERE B.STATUS = 'Y'
                           AND FCATEGORY_NAME = ? OR SCATEGORY_NAME = ?
		                 ORDER
		                    BY ENROLL_DATE DESC
		                ) A
		        )
		  WHERE RNUM BETWEEN ? AND ? 
	</entry>
	
	<entry key="selectCategoryList">
		SELECT
       DISTINCT FCATEGORY_NAME, SCATEGORY_NAME
		  FROM TB_PRODUCT
		 WHERE FCATEGORY_NAME = (SELECT 
		                               DISTINCT FCATEGORY_NAME
		                          FROM TB_PRODUCT
		                         WHERE SCATEGORY_NAME = ?)
		    OR FCATEGORY_NAME = ?
	</entry>

	<entry key="selectRecentProductList">
	
        SELECT 	
        		   PRODUCT_NO
        		, BRAND	   	    
               , PRODUCT_NAME
	            , PRICE
	            , PRODUCT_IMG
          FROM (
                SELECT 
                		PRODUCT_NO
                		, BRAND	   	
             	   	   , PRODUCT_NAME
                     , PRICE
                     , PRODUCT_IMG
                  FROM TB_PRODUCT   
                 ORDER 
                    BY ENROLL_DATE DESC    
                )
         WHERE ROWNUM <![CDATA[<=]]> 3 
	</entry>
	
	<entry key="selectProductReview">
	   SELECT
		     	REVIEW_NO
		      , MEMBER_NO
		      , PRODUCT_NAME	
              , REVIEW_CONTENT
              , STAR
              , R_ENROLL_DATE
              , R_MODIFY_DATE
         FROM TB_REVIEW
         JOIN TB_PRODUCT USING (PRODUCT_NO)
        WHERE PRODUCT_NO = ?
          AND R_STATUS = 'Y'	
	</entry>
	
	<entry key="countProductLike">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_PRODUCT_LIKE
		 WHERE PRODUCT_NO = ?
		   AND MEMBER_NO = ?
	</entry>
	
	<entry key="insertProductLike">
		    INSERT 
		      INTO TB_PRODUCT_LIKE
		     (
		            PRODUCT_NO,
		            MEMBER_NO,
		            P_LIKE_DATE
		     )
		     VALUES 
		    (
		        ?,
		        ?,
		        SYSDATE
		    ) 	
	</entry>
	
	<entry key="deleteProductLike">
	    DELETE 
	      FROM TB_PRODUCT_LIKE
	     WHERE PRODUCT_NO = ?
	       AND MEMBER_NO = ?  
	     
	</entry>
	
	<entry key="selectSearchCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_PRODUCT
		 WHERE STATUS = 'Y'
           AND PRODUCT_NAME LIKE '%' || ? || '%'
            OR BRAND LIKE '%' || ? || '%'
	</entry>
	
	<entry key ="selectSearchList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                	   PRODUCT_NO
		                	 , BRAND  
		                     , PRODUCT_NAME
		                     , PRICE
		                     , PRODUCT_IMG
		                  FROM TB_PRODUCT B
		                 WHERE B.STATUS = 'Y'
	                          AND PRODUCT_NAME LIKE '%' || ? || '%'
	                           OR BRAND LIKE '%' || ? || '%'
		                 ORDER
		                    BY ENROLL_DATE DESC
		                ) A
		        )
		  WHERE RNUM BETWEEN ? AND ? 
	</entry>  
	
	<entry key="selectReSearchCount">
		SELECT
		       COUNT(*) COUNT
		        FROM TB_PRODUCT
			   WHERE STATUS = 'Y'
		  
	</entry>
	
	<entry key = "selectResearchList">
				SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                	   PRODUCT_NO
		                	 , BRAND
		                     , PRODUCT_NAME
		                     , PRICE
		                     , PRODUCT_IMG
						   FROM TB_PRODUCT B
				 		  WHERE B.STATUS = 'Y'
			 		  
				  
	</entry>
	
	<entry key="countPurchaseList">
	 SELECT 
	        COUNT(*) COUNT
	   FROM TB_PAYMENT  
	</entry>
	
	<entry key="selectPurchaseList">
	SELECT *
	  FROM (
	        SELECT ROWNUM RNUM, A.*
	          FROM (
	          select
			        P.ORDER_NO,
			        P.PAYMENT_DATE,
			        P.PRICE,
			        (
			          SELECT M.MEMBER_ID
			            FROM TB_MEMBER M
			            JOIN TB_ORDER O ON (M.MEMBER_NO = O.MEMBER_NO) 
			            WHERE P.ORDER_NO = O.ORDER_NO
			           
			        ) MEMBER_ID
			  FROM TB_PAYMENT P
			  JOIN TB_ORDERDETAIL OD ON (OD.ORDER_NO = P.ORDER_NO)
			  GROUP BY P.ORDER_NO, P.PRICE, P.PAYMENT_DATE, P.PAYMENT_NO
			  ORDER BY PAYMENT_DATE DESC
			                ) A
			        )
			  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectPurchaseDetailList">
	 SELECT 
	        P.ORDER_NO,
	        P.PAYMENT_DATE,
	        PR.PRODUCT_IMG,
	        PR.PRODUCT_NAME,
	        OD.COUNT,
	        ((PR.PRICE)* OD.COUNT)PRICE,
	        M.MEMBER_ID,
	        OD.PRODUCT_NO
	   FROM TB_PAYMENT P
	   JOIN TB_ORDERDETAIL OD ON (OD.ORDER_NO = P.ORDER_NO)
	   JOIN TB_PRODUCT PR ON (PR.PRODUCT_NO = OD.PRODUCT_NO)
	   JOIN TB_ORDER O ON (O.ORDER_NO = OD.ORDER_NO)
	   JOIN TB_MEMBER M ON (M.MEMBER_NO = O.MEMBER_NO)
	   WHERE ORDER_NO = ?
	</entry>
	
	<entry key="countOrderList">
		SELECT 
				COUNT(*)COUNT
		  FROM TB_ORDER	
	</entry>
	
	<entry key="selectOrderList">
	SELECT *
	          FROM (
	                SELECT ROWNUM RNUM, A.*
	                  FROM (
	    
	                        SELECT 
			                        O.ORDER_NO,
			                        O.STATUS, 
			                        NVL(WAYBILL, '미발급')WAYBILL,
			                        MEMBER_ID,    
			                        O.MEMBER_NO,
			                        ORDER_NAME,
			                        ORDER_PHONE,
			                        ORDER_EMAIL,
			                        ADDRESS_NAME,
			                        O.ADDRESS,
			                        ADDRESS_TEL,
			                        USE_POINT,
			                        NVL(COURIER, '미지정')COURIER,
			                        PAYMENT_DATE
		                       FROM TB_ORDER O
		                       JOIN TB_MEMBER M ON (M.MEMBER_NO = O.MEMBER_NO)
		                       JOIN TB_PAYMENT P ON (P.ORDER_NO = O.ORDER_NO)
		                       ORDER BY PAYMENT_DATE DESC
	                       ) A
	               )
	         WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key = "selectOrderDetail">
          SELECT
 		                        O.ORDER_NO,
		                        O.STATUS, 
		                        NVL(WAYBILL, '미발급')WAYBILL,
		                        MEMBER_ID,    
		                        O.MEMBER_NO,
		                        ORDER_NAME,
		                        ORDER_PHONE,
		                        ORDER_EMAIL,
		                        ADDRESS_NAME,
		                        O.ADDRESS,
		                        ADDRESS_TEL,
		                        USE_POINT,
		                        NVL(COURIER, '미지정')COURIER,
		                        PAYMENT_DATE,
                                MEMBER_NAME
	                       FROM TB_ORDER O
	                       JOIN TB_MEMBER M ON (M.MEMBER_NO = O.MEMBER_NO)
	                       JOIN TB_PAYMENT P ON (P.ORDER_NO = O.ORDER_NO) 
                           WHERE O.ORDER_NO = ?	
	</entry>
	<entry key="createWaybill">
	UPDATE 
	      TB_ORDER
	  SET 
		    COURIER = ?,
		    WAYBILL = ?,
	  		STATUS = 2
	  WHERE ORDER_NO = ?	
	</entry>
	<entry key="releaseStock">
	INSERT
	  INTO TB_STOCK
	  (
	    STOCK_NO,
	    PRODUCT_NO,
	    COUNT, 
	    STATUS
	  )
	 
	SELECT  SEQ_SNO.NEXTVAL, PRODUCT_NO, COUNT, '출고'
	FROM TB_ORDERDETAIL
	WHERE ORDER_NO = ?
	</entry>
	
	<entry key="wayCheck">
	SELECT 
		   COUNT(*) COUNT
	  FROM TB_ORDER
	 WHERE WAYBILL = ? 		   
	</entry>
	
	<entry key="countOrderStatement">
	SELECT 
			COUNT(*)COUNT
      FROM TB_ORDER	
	 WHERE STATUS = ?	
	</entry>
	
	<entry key="selectOrderStatement">
	SELECT *
	          FROM (
	                SELECT ROWNUM RNUM, A.*
	                  FROM (
	    
	                        SELECT 
			                        O.ORDER_NO,
			                        O.STATUS, 
			                        NVL(WAYBILL, '미발급')WAYBILL,
			                        MEMBER_ID,    
			                        O.MEMBER_NO,
			                        ORDER_NAME,
			                        ORDER_PHONE,
			                        ORDER_EMAIL,
			                        ADDRESS_NAME,
			                        O.ADDRESS,
			                        ADDRESS_TEL,
			                        USE_POINT,
			                        NVL(COURIER, '미지정')COURIER,
			                        PAYMENT_DATE
		                       FROM TB_ORDER O
		                       JOIN TB_MEMBER M ON (M.MEMBER_NO = O.MEMBER_NO)
		                       JOIN TB_PAYMENT P ON (P.ORDER_NO = O.ORDER_NO)
                               WHERE O.STATUS = ?
		                       ORDER BY PAYMENT_DATE DESC
	                       ) A
	               )
	         WHERE RNUM BETWEEN ? AND ?	
	
	</entry>
	
	<entry key="insertProduct">
	INSERT
	  INTO TB_PRODUCT
	  (
	    PRODUCT_NO
	  , PRODUCT_NAME
	  , PRICE
	  , CAPACITY
	  , BRAND
	  , STOCK
	  , PRODUCT_INFO
	  , FCATEGORY_NAME
	  , SCATEGORY_NAME
	  , PRODUCT_IMG
	  )
	  VALUES
	  (
	    SEQ_PRONO.NEXTVAL
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  )
	</entry>
	
	<entry key ="selectAllListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_PRODUCT
		 WHERE STATUS = 'Y' 
	</entry>
	
	
	
	<entry key ="selectAllList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                	   PRODUCT_NO
		                     , PRODUCT_NAME
		                     , CAPACITY
		                     , STOCK
		                     , BRAND
		                  FROM TB_PRODUCT B
		                 WHERE STATUS = 'Y' 
	</entry>
	
	<entry key="productDetail">
		SELECT
		       PRODUCT_IMG
		     , PRODUCT_NO
		     , FCATEGORY_NAME
		     , SCATEGORY_NAME
		     , PRODUCT_NAME
		     , CAPACITY
		     , BRAND
		     , PRICE
		     , STOCK
		     , PRODUCT_INFO
		     , ENROLL_DATE
		  FROM TB_PRODUCT
		 WHERE STATUS = 'Y'
		   AND PRODUCT_NO = ?
	</entry>
	
	<entry key="updateProduct">
		UPDATE TB_PRODUCT
		   SET PRODUCT_NAME = ?
		     , PRICE = ?
			 , CAPACITY = ?
			 , BRAND = ?
			 , PRODUCT_INFO = ?
			 , FCATEGORY_NAME = ?
			 , SCATEGORY_NAME = ?
			 , PRODUCT_IMG = ?
		 WHERE STATUS = 'Y'
		   AND PRODUCT_NO = ?
	</entry>
	
	<entry key="deleteProduct">
		UPDATE TB_PRODUCT
		   SET STATUS = 'N'
		 WHERE STATUS = 'Y'
		   AND PRODUCT_NO = ?
	</entry>
	
	<entry key="stockProduct">
		INSERT
		  INTO TB_STOCK
		     (
		       STOCK_NO
		     , PRODUCT_NO
		     , COUNT
		     , STATUS
		     )
		VALUES
		     (
		       SEQ_SNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="productCartInsert">
		INSERT
		  INTO TB_CART
		  	 (
		  	   PRODUCT_NO
		  	 , MEMBER_NO
		  	 , COUNT
		  	 )
		VALUES
			 (
			   ?
			 , ?
			 , ?
			 )
	</entry>
	
	<entry key="productCartList">
		SELECT
			   PRODUCT_NO
			 , PRODUCT_IMG
			 , PRODUCT_NAME || ' ' || CAPACITY || '(mL/g)' PRODUCT_NAME
			 , COUNT
			 , COUNT*PRICE PRICE
			 , STOCK
		  FROM TB_CART
		  JOIN TB_PRODUCT USING(PRODUCT_NO)
		 WHERE MEMBER_NO = ?
	</entry>
	
	<entry key="productCartAmount">
		UPDATE TB_CART
		   SET COUNT = ?
		 WHERE PRODUCT_NO = ?
		   AND MEMBER_NO = ?
	</entry>
	
	<entry key="productCartDelete">
		DELETE FROM TB_CART 
	</entry>
	
	<entry key="orderProductList">
		SELECT
			   PRODUCT_NO
			 , PRODUCT_IMG
			 , PRODUCT_NAME || ' ' || CAPACITY || '(mL/g)' PRODUCT_NAME
			 , COUNT
			 , COUNT*PRICE PRICE
			 , STOCK
		  FROM TB_CART
		  JOIN TB_PRODUCT USING(PRODUCT_NO)
		 WHERE MEMBER_NO = 
	</entry>
	
	<entry key="orderMember">
		SELECT ROWNUM, A.*
		  FROM (SELECT MEMBER_NAME, PHONE, EMAIL, TOTAL
		          FROM TB_MEMBER
		          LEFT
		          JOIN TB_POINT p USING(MEMBER_NO)
			     WHERE MEMBER_NO = ?
		         ORDER
		            BY POINT_NO DESC
		       ) A
		 WHERE ROWNUM = 1
	</entry>
	
	<entry key="orderInsert">
		INSERT
		  INTO TB_ORDER
		  (
		    ORDER_NO
		  , MEMBER_NO
		  , ORDER_NAME
		  , ORDER_PHONE
		  , ORDER_EMAIL
		  , ADDRESS_NAME
		  , ADDRESS
		  , ADDRESS_TEL
		  , USE_POINT
		  )
		  VALUES
		  (
		    TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_ONO.NEXTVAL, 5, '0')
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="orderDetailInsert">
		INSERT
		  INTO TB_ORDERDETAIL
		  (
		    DORDER_NO
		  , ORDER_NO
		  , PRODUCT_NO
		  , COUNT
		  )
		  VALUES
		  (
		    SEQ_DONO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="paymentInsert">
		INSERT
		  INTO TB_PAYMENT
		  (
		    PAYMENT_NO
		  , ORDER_NO
		  , PRICE
		  )
		  VALUES
		  (
		    SEQ_PAYNO.NEXTVAL
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectMemberGrade">
		SELECT MEMBER_GRADE
		  FROM TB_MEMBER
		 WHERE MEMBER_NO = ?
	</entry>
	
	<entry key="pointInsert">
		INSERT
		  INTO TB_POINT
		  (
		    POINT_NO
		  , AMOUNT
		  , STATUS
		  , TOTAL
		  , CONTENT
		  , ORDER_NO
		  , MEMBER_NO
		  )
		  VALUES
		  (
		    SEQ_PONO.NEXTVAL
	</entry>
	
	<entry key="selectOrderNo">
		SELECT ORDER_NO
		  FROM (
		         SELECT ROWNUM, ORDER_NO
				   FROM TB_ORDER
				  WHERE MEMBER_NO = ?
		          ORDER
		             BY ORDER_NO DESC
		       )
		 WHERE ROWNUM = 1
	</entry>
	
	<entry key ="selectStockListCount">
		SELECT
			   COUNT(*) COUNT
		  FROM TB_STOCK 
	</entry>
	
	<entry key="selectStockList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT 
							   STOCK_NO
							 , STOCK_DATE
							 , PRODUCT_NO
							 , PRODUCT_NAME || ' ' || CAPACITY || '(mL/g)' PRODUCT_NAME
							 , BRAND
							 , COUNT
							 , S.STATUS
						  FROM TB_STOCK S
						  JOIN TB_PRODUCT P USING(PRODUCT_NO)
						 WHERE P.STATUS = 'Y' 
	</entry>
	
</properties>