<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_PRODUCT
		 WHERE STOCK > 0
            AND FCATEGORY_NAME = ? OR SCATEGORY_NAME =?
	</entry>

	<entry key ="selectProductList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                	   PRODUCT_NO
		                     , PRODUCT_NAME
		                     , PRICE
		                     , PRODUCT_IMG
		                  FROM TB_PRODUCT B
		                 WHERE B.STOCK > 0
                           AND FCATEGORY_NAME = ? OR SCATEGORY_NAME = ?
		                 ORDER
		                    BY ENROLL_DATE DESC
		                ) A
		        )
		  WHERE RNUM BETWEEN ? AND ? 
	</entry>
	
	<entry key="selectCategoryList">
		SELECT
       DISTINCT FCATEGORY_NAME, SCATEGORY_NAME
		  FROM TB_PRODUCT
		 WHERE FCATEGORY_NAME = (SELECT 
		                               DISTINCT FCATEGORY_NAME
		                          FROM TB_PRODUCT
		                         WHERE SCATEGORY_NAME = ?)
		    OR FCATEGORY_NAME = ?
	</entry>

	<entry key="selectRecentProductList">
	
        SELECT 	
        		   PRODUCT_NO	    
               , PRODUCT_NAME
	            , PRICE
	            , PRODUCT_IMG
          FROM (
                SELECT 
                		PRODUCT_NO	
             	   	   , PRODUCT_NAME
                     , PRICE
                     , PRODUCT_IMG
                  FROM TB_PRODUCT   
                 ORDER 
                    BY ENROLL_DATE DESC    
                )
         WHERE ROWNUM <![CDATA[<=]]> 3 
	</entry>
	
	<entry key="selectProductReview">
	   SELECT
		     	REVIEW_NO
              , MEMBER_NO
              , PRODUCT_NO
              , REVIEW_CONTENT
              , STAR
              , R_ENROLL_DATE
              , R_MODIFY_DATE
              , R_REPORT
              , R_STATUS
         FROM TB_REVIEW
        WHERE PRODUCT_NO = ?
          AND R_STATUS = 'Y'	
	</entry>
	
	
	<entry key="insertProduct">
	INSERT
	  INTO TB_PRODUCT
	  (
	    PRODUCT_NO
	  , PRODUCT_NAME
	  , PRICE
	  , CAPACITY
	  , BRAND
	  , STOCK
	  , PRODUCT_INFO
	  , FCATEGORY_NAME
	  , SCATEGORY_NAME
	  , PRODUCT_IMG
	  )
	  VALUES
	  (
	    SEQ_PRONO.NEXTVAL
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  )
	</entry>
	
	<entry key ="selectAllListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_PRODUCT
		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key ="selectAllList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                	   PRODUCT_NO
		                     , PRODUCT_NAME
		                     , CAPACITY
		                     , STOCK
		                     , BRAND
		                  FROM TB_PRODUCT B
		                 WHERE STATUS = 'Y'
		                 ORDER
		                    BY PRODUCT_NO DESC
		                ) A
		        )
		  WHERE RNUM BETWEEN ? AND ? 
	</entry>
	
	<entry key="productDetail">
		SELECT
		       PRODUCT_IMG
		     , PRODUCT_NO
		     , FCATEGORY_NAME
		     , SCATEGORY_NAME
		     , PRODUCT_NAME
		     , CAPACITY
		     , BRAND
		     , PRICE
		     , STOCK
		     , PRODUCT_INFO
		     , ENROLL_DATE
		  FROM TB_PRODUCT
		 WHERE STATUS = 'Y'
		   AND PRODUCT_NO = ?
	</entry>
</properties>