<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertQuestion">
		INSERT 
			 INTO TB_QA (
			            Q_NO
			           ,Q_WRITER
			           ,Q_TITLE
			           ,Q_CONTENT
			           ,FCATEGORY_NAME
			           ,SCATEGORY_NAME
			             )VALUES
			             (
			             SEQ_QNO.NEXTVAL
			             ,?
			             ,?
			             ,?
			             ,?
			             ,?
			             )
	</entry>
	<entry key="insertAttachment">
		INSERT 
		    INTO TB_ATTACHMENT
		    (
		    FILE_NO
		   ,REF_NO
		   ,CHANGE_NAME
		   ,FILE_PATH
		   ,FILE_TYPE
		    )
		    VALUES
		    (
		    SEQ_ATNO.NEXTVAL
		   ,SEQ_QNO.CURRVAL
		   ,?
		   ,?
		   ,4
		    )
	</entry>
	<entry key="selectQuestionList">
		    SELECT * FROM
	        (SELECT ROWNUM RNUM, E.*FROM
	            (SELECT 
	                   Q_NO
	                   ,Q_TITLE
	                   ,TO_CHAR(ENROLL_DATE,'YY-MM-DD') ENROLL_DATE
	                   ,ANSWER_STATUS
	                   ,FCATEGORY_NAME
	                   ,SCATEGORY_NAME
	                    FROM TB_QA
	                WHERE Q_WRITER =?
	                AND STATUS= 'Y'
	              
	              
	</entry>
	<entry key="selectQAListCount">
		 SELECT
		 	COUNT(*) COUNT
		 FROM TB_QA
		 WHERE Q_WRITER = ?
		 	
            
	</entry>
	<entry key="selectIncompletedListCount">
			 SELECT
		 	COUNT(*) COUNT
		 FROM TB_QA
		 WHERE answer_status != 'Y'
         and status ='Y'
	</entry>
	<entry key="selectQA">
		SELECT 
		    Q_NO
		   ,MEMBER_NAME
		   ,Q_TITLE
		   ,Q_CONTENT
		   ,q.enroll_date
		   ,MANAGER_NAME
		   ,ANSWER_STATUS
		   ,A_TITLE
		   ,ANSWER_DATE
		   ,A_CONTENT
		   ,FCATEGORY_NAME
		   ,SCATEGORY_NAME
		FROM TB_QA q
		JOIN TB_MEMBER ON (MEMBER_NO = Q_WRITER)
		LEFT JOIN TB_MANAGER ON (MANAGER_NO = A_WRITER)
		WHERE Q_NO = ?
	</entry>
	<entry key="selectAttachment">
		SELECT 
		    FILE_NO
		   ,CHANGE_NAME
		   ,FILE_PATH
		FROM TB_ATTACHMENT
		WHERE REF_NO =?
		AND FILE_TYPE = 4
	</entry>
	<entry key="selectIncompletedList">
		  SELECT * FROM
	        (SELECT ROWNUM RNUM, E.*FROM
	            (SELECT 
	                   Q_NO
                       ,MEMBER_ID
	                   ,Q_TITLE
	                   ,q_content
	                   ,TO_CHAR(Q.ENROLL_DATE,'YY-MM-DD') ENROLL_DATE
	                   ,ANSWER_STATUS
	                   ,FCATEGORY_NAME
	                   ,SCATEGORY_NAME
	                    FROM TB_QA Q
                    JOIN TB_MEMBER ON (Q_WRITER = MEMBER_NO)
	                WHERE ANSWER_STATUS != 'Y'
	                AND Q.STATUS= 'Y'
	                  )E) WHERE RNUM BETWEEN ? AND ?
		
	</entry>
	<entry key="enrollAnswer">
		UPDATE TB_QA
		    SET A_WRITER = ?
		       ,A_TITLE = ?
		       ,A_CONTENT = ?
		       ,ANSWER_STATUS ='Y'
		       ,ANSWER_DATE = SYSDATE
		  WHERE Q_NO = ?
	</entry>
	<entry key="selectAnswerListCount">
		SELECT 
	    COUNT(*) COUNT
	    FROM TB_QA
	    WHERE ANSWER_STATUS = 'Y'
	   
	</entry>
	<entry key="selectAnswerList">
		  SELECT * FROM
	        (SELECT ROWNUM RNUM, E.*FROM
	            (SELECT 
	                   Q_NO
	                   ,Q_CONTENT
                       ,A_CONTENT
	                   ,ANSWER_DATE
	                   ,ANSWER_STATUS
	                   ,FCATEGORY_NAME
	                   ,SCATEGORY_NAME
                       ,MANAGER_NAME
                       ,MANAGER_NO
	                    FROM TB_QA Q
	                JOIN TB_MANAGER ON (MANAGER_NO = A_WRITER)
                    WHERE Q.STATUS= 'Y'
                    AND ANSWER_STATUS = 'Y'
                  
	                  
	</entry>
	<entry key="deleteQuestion">
		DELETE 
		    FROM TB_QA
		WHERE Q_NO = ?
	</entry>
	<entry key="updateQuestion">
		UPDATE 
		    TB_QA
		    SET Q_TITLE = ?
		    ,Q_CONTENT = ?
		    ,FCATEGORY_NAME= ?
		    ,SCATEGORY_NAME =?
		    ,ENROLL_DATE =SYSDATE
		WHERE Q_NO = ?
	</entry>
	<entry key="insertNewAttachment">
		INSERT 
		    INTO TB_ATTACHMENT
		    (
		    FILE_NO
		   ,REF_NO
		   ,CHANGE_NAME
		   ,FILE_PATH
		   ,FILE_TYPE
		    )
		    VALUES
		    (
		    SEQ_ATNO.NEXTVAL
		   ,?
		   ,?
		   ,?
		   ,4
		    )
	</entry>
	<entry key="updateAttachment">
		UPDATE
		       TB_ATTACHMENT
		   SET  CHANGE_NAME = ?
		     , FILE_PATH = ?
		 WHERE FILE_NO = ?
	</entry>
	<entry key="selectManagerQList">
		  SELECT * FROM
	        (SELECT ROWNUM RNUM, E.*FROM
	            (SELECT 
	                   Q_NO
                       ,MEMBER_ID
	                   ,Q_TITLE
	                   ,q_content
	                   ,TO_CHAR(Q.ENROLL_DATE,'YY-MM-DD') ENROLL_DATE
	                   ,ANSWER_STATUS
	                   ,FCATEGORY_NAME
	                   ,SCATEGORY_NAME
	                    FROM TB_QA Q
                    JOIN TB_MEMBER ON (Q_WRITER = MEMBER_NO)
	                WHERE ANSWER_STATUS != 'Y'
	                AND Q.STATUS= 'Y'
	                order by enroll_date DESC
	                  )E) wHERE RNUm <![CDATA[<=]]> 5
	</entry>
</properties>