<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_RECIPE
		 WHERE RECIPE_TYPE = 1
		   AND DELETE_STATUS = 'N'
	</entry>
	
	<entry key="selectRecipeList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                       RECIPE_NO
		                     , RECIPE_TITLE
		                     , MEMBER_ID
		                     , COUNT
		                     , TO_CHAR(R.ENROLL_DATE, 'YYYY-MM-DD') "ENROLL_DATE"
		                     , MAIN_IMG
		                  FROM TB_RECIPE R
		                  JOIN TB_MEMBER ON (RECIPE_WRITER = MEMBER_NO)
		                 WHERE RECIPE_TYPE = 2
		                   AND DELETE_STATUS = 'N'
		                 ORDER
		                    BY ENROLL_DATE DESC
		                ) "A"
	        	)
 		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectRecipeListR">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT
		                       RECIPE_NO
		                     , RECIPE_TITLE
		                     , MANAGER_ID
		                     , COUNT
		                     , TO_CHAR(R.ENROLL_DATE, 'YYYY-MM-DD') "ENROLL_DATE"
		                     , MAIN_IMG
		                  FROM TB_RECIPE R
		                  JOIN TB_MANAGER ON (RECIPE_WRITER = MANAGER_NO)
		                 WHERE RECIPE_TYPE = 1
		                   AND DELETE_STATUS = 'N'
		                 ORDER
		                    BY RECIPE_NO DESC
		                ) "A"
	        	)
 		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertRecipe">
		INSERT
		  INTO TB_RECIPE
		  (
		    RECIPE_NO
		  , RECIPE_TYPE
		  , RECIPE_WRITER
		  , RECIPE_TITLE
		  , RECIPE_INTRO
		  , MAIN_IMG
		  )
		  VALUES
		  (
		    SEQ_RNO.NEXTVAL
		  , 2
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertRecipeIngreList">
		INSERT
		  INTO TB_RECIPE_INGRE
		  (
		    INGRE_NO
		  , RECIPE_NO
		  , INGRE_NAME
		  , INGRE_AMOUNT
		  )
		  VALUES
		  (
		    SEQ_INO.NEXTVAL
		  , SEQ_RNO.CURRVAL
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertRecipeOrderList">
		INSERT
		  INTO TB_RECIPE_ORDER
		  (
		    RECIPE_ORDER_NO
		  , RECIPE_NO
		  , RECIPE_ORDER
		  , RECIPE_EXPLN
		  , RECIPE_IMG
		  )
		  VALUES
		  (
		    SEQ_RONO.NEXTVAL
		  , SEQ_RNO.CURRVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="increaseCount">
		UPDATE
			   TB_RECIPE
		   SET COUNT = COUNT + 1
		 WHERE RECIPE_NO = ?
		   AND DELETE_STATUS = 'N'
	</entry>
	
	<entry key="selectRecipe">
		SELECT
		       RECIPE_NO
		     , MEMBER_ID
		     , RECIPE_TITLE
		     , RECIPE_INTRO
		     , COUNT
		     , TO_CHAR(R.ENROLL_DATE, 'YYYY.MM.DD HH:mm') "ENROLL_DATE"
		     , MAIN_IMG
		  FROM TB_RECIPE R
		  JOIN TB_MEMBER ON (RECIPE_WRITER = MEMBER_NO)
		 WHERE RECIPE_NO = ?
	</entry>
	
	
	<entry key="selectRecipeR">
		SELECT
		       RECIPE_NO
		     , MANAGER_ID
		     , RECIPE_TITLE
		     , RECIPE_INTRO
		     , COUNT
		     , TO_CHAR(R.ENROLL_DATE, 'YYYY.MM.DD HH:mm') "ENROLL_DATE"
		     , MAIN_IMG
		  FROM TB_RECIPE R
		  JOIN TB_MANAGER ON (RECIPE_WRITER = MANAGER_NO)
		 WHERE RECIPE_NO = ?
	</entry>
	
	<entry key="selectRecipeIngreList">
		SELECT
		       INGRE_NO
		     , INGRE_NAME
		     , INGRE_AMOUNT
		  FROM TB_RECIPE_INGRE
		 WHERE RECIPE_NO = ?
		 ORDER
		    BY INGRE_NO
	</entry>
	
	<entry key="selectRecipeOrderList">
		SELECT
		       RECIPE_ORDER_NO
		     , RECIPE_ORDER
		     , RECIPE_EXPLN
		     , RECIPE_IMG
		  FROM TB_RECIPE_ORDER
		 WHERE RECIPE_NO = ?
		 ORDER
		    BY RECIPE_ORDER
	</entry>
	
	
	<entry key="insertReply">
		INSERT
		  INTO TB_REPLY
		  (
		    REPLY_NO
		  , MEMBER_NO
		  , REF_NO
		  , REPLY_CONTENT
		  )
		  VALUES
		  (
		    SEQ_CNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	
	<entry key="insertReplyAttachment">
		INSERT 
		  INTO TB_ATTACHMENT
		  (
		    FILE_NO
		  , REF_NO
		  , CHANGE_NAME
		  , FILE_PATH
		  , FILE_TYPE
		  )
		  VALUES
		  (
		    SEQ_ATNO.NEXTVAL
		  , SEQ_CNO.CURRVAL
		  , ?
		  , ?
		  , 1
		  )
	</entry>
	
	<entry key="selectReplyList">
		SELECT
		       REPLY_NO
		     , MEMBER_ID
		     , REPLY_CONTENT
		     , PROFILE
             , TO_CHAR(R.ENROLL_DATE, 'YYYY.MM.DD HH:MI') "ENROLL_DATE"
		  FROM TB_REPLY R
		  JOIN TB_MEMBER USING (MEMBER_NO)
		 WHERE DELETE_STATUS = 'N'
           AND STATUS = 'Y'
		   AND REF_NO = ?
		 ORDER
		    BY REPLY_NO DESC
	</entry>
	
	<!--
	
	<entry key="selectReplyAt">
		SELECT 
		       FILE_NO
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM TB_ATTACHMENT
		 WHERE REF_NO = ?
		   AND FILE_TYPE = 1
	</entry>

	-->
	
	<entry key="updateRecipe">
		UPDATE
			   TB_RECIPE
		   SET RECIPE_TITLE = ?
		  	 , RECIPE_INTRO = ?
		  	 , MAIN_IMG = ?
		 WHERE RECIPE_NO = ?
	</entry>
	
	<entry key="updateRecipeIngreList">
		UPDATE
			   TB_RECIPE_INGRE
		   SET INGRE_NAME = ?
		  	 , INGRE_AMOUNT = ?
		 WHERE INGRE_NO = ?
		   AND RECIPE_NO = ?
	</entry>

	<entry key="updateRecipeOrderList">
		UPDATE
			   TB_RECIPE_ORDER
		   SET RECIPE_ORDER = ?
		  	 , RECIPE_EXPLN = ?
		  	 , RECIPE_IMG = ?
		 WHERE RECIPE_ORDER_NO = ?
		   AND RECIPE_NO = ?
	</entry>
	
	<entry key="deleteRecipe">
		UPDATE TB_RECIPE
		   SET DELETE_STATUS = 'Y'
		 WHERE RECIPE_NO = ?
	</entry>
	
	<entry key="selectRecentRecipeList">
		SELECT
			   RECIPE_NO
			 , RECIPE_TITLE
			 , MEMBER_ID
			 , MAIN_IMG
		  FROM (
		  			SELECT
	                         RECIPE_NO
	                       , RECIPE_TITLE
	                       , MEMBER_ID
	                       , MAIN_IMG
	                    FROM TB_RECIPE R
	                    JOIN TB_MEMBER ON (RECIPE_WRITER = MEMBER_NO)
	                   WHERE DELETE_STATUS = 'N'
	                     AND RECIPE_TYPE = 2
	                   ORDER
	                      BY R.ENROLL_DATE DESC
		  		)
		 WHERE ROWNUM <![CDATA[<=]]> 3 
	</entry>

</properties>